body {
  background: #1c2e44;
  color: #fff;
}

em {
  color: #fadb03;
}

a {
  color: #7cbfe5;
  text-decoration-skip: ink;
  text-decoration: none;
}

a:hover {
  background: #4e5b6f;
}

.annotation {
  font-size: 50px;
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.center {
  display: block;
  margin: 0 auto;
  width: fit-content;
}